In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats

##***GO OVER THE INITIAL ATTEMPT W DATASET ERRORS

In [2]:
crime_db = pd.read_csv('crime_data_LR_alt.csv', encoding='utf-8')

In [3]:
crime_db.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0.0
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0.0
3,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN

In [4]:
crime_db.columns[3]

'Murder and\nnonnegligent\nmanslaughter'

In [5]:
crime_db.rename(columns={ crime_db.columns[3]: 'Murder'},inplace=True)

In [6]:
crime_db.columns

Index(['City', 'Population', 'Violent\ncrime', 'Murder',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [12]:
crime_db_p = crime_db[['Population','Murder','Robbery']]
crime_db_p['pop_sq'] = crime_db_p['Population']**2
crime_db_p.dropna()

C:\Users\dpierce\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     Population  Murder  Robbery       pop_sq
0          1861       0        0      3463321
1          2577       0        0      6640929
2          2846       0        0      8099716
3         97956       8      227   9595377936
4          6388       0        4     40806544
5          4089       0        3     16719921
6          1781       0        0      3171961
7        118296       1       31  13993943616
8          9519       0        4     90611361
9         18182       0       12    330585124
10         2053       0        0      4214809
11         4523       0        3     20457529
12          658       0        0       432964
13         2522       0        0      6360484
14        27270       1       22    743652900
15         3333       0        1     11108889
16         7473       0        1     55845729
17         5418       0        3     29354724
18        15374       0       13    236359876
19         5733       0        3     32867289
20        17627       0        1    310711129
21        34243       0        3   1172583049
22        46304       3      101   2144060416
23         1410       0        0      1988100
24        12001       0        0    144024001
25         1022       0        0      1044484
26         2325       0        0      5405625
27         2054       0        0      4218916
28         2065       0        1      4264225
29         2358       0        0      5560164
..          ...     ...      ...          ...
318        3642       0        0     13264164
319         615       0        0       378225
320       12195       0        2    148718025
321       61686       7      102   3805162596
322       27980       0        6    782880400
323        6887       1        1     47430769
324       27940       0       16    780643600
325        3012       0        0      9072144
326        3453       0        0     11923209
327        5828       0        1     33965584
328        8392       0        0     70425664
329        5175       0        3     26780625
330       28179       0       16    794056041
331       10245       1       11    104960025
332        1862       0        0      3467044
333        4337       0        1     18809569
334       43777       0        3   1916425729
335        1797       0        0      3229209
336        4574       0        0     20921476
337        1732       0        0      2999824
338       44821       1        9   2008922041
339        2604       0        0      6780816
340       57559       1       28   3313038481
341        3733       0        0     13935289
342        9141       0        0     83557881
343       10685       0        2    114169225
344         829       0        0       687241
345        5931       0        0     35176761
346      199134       6      390  39654349956
347       36643       0        2   1342709449

[348 rows x 4 columns]

In [8]:
#crime_db_p['pop'] = crime_db['Population']
#crime_db_p['pop_sq'] = crime_db['Population']**2
#df['elderly'] = np.where(df['age']>=50, 'yes', 'no')

#crime_db_p['Murder'] = np.where(crime_db['Murder']=0, 0, 1)
#crime_db_p['Robbery'] = np.where(crime_db['Robbery']=0,0,1)

In [10]:
#crime_db_p['pop_sq'] = crime_db_p['Population']**2
#getting errors when I try to square, cant successfully convert to int...
#crime_db_p['pop_two'] = crime_db['Population']

In [15]:
crime_db_p.describe(include='all')
print(crime_db_p.dtypes)

Population    int64
Murder        int64
Robbery       int64
pop_sq        int64
dtype: object

In [12]:
#crime_db_p = crime_db_p.astype(np.float16)